<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Solafune</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about-us.css') }}">
</head>
<body>
    <header> 
        <a href="{{ url_for('home') }}" class="href">
            <div class="logo-solafune-header">
                <img src="https://storage.googleapis.com/image-solafune-project-f242-02/img/solafune-logo1.png" alt="Solafune Logo">
            </div>
        </a>
    </header>
    <div class="container">
        <h1 class="team-header">Team C242-FS02</h1>
        <div class="team-card">
            <div class="card">
                <img src="https://storage.googleapis.com/image-solafune-project-f242-02/img/Rafli.png" alt="Rafli Muhammad Ridhwan">
                <h3>Rafli Muhammad Ridhwan</h3>
                <p><b>Machine Learning</b></p>
                <p>Institut Pendidikan Indonesia</p>
                <p> English Language Education</p>
            </div>
            <div class="card">
                <img src="https://storage.googleapis.com/image-solafune-project-f242-02/img/Rafli%20Gunawan.png" alt="Muhamad Rafli Gunawan">
                <h3>Muhamad Rafli Gunawan</h3>
                <p><b>Machine Learning</b></p>
                <p>Universitas Indonesia</p>
                <p>Physics Departement</p>
            </div>
            <div class="card">
                <img src="https://storage.googleapis.com/image-solafune-project-f242-02/img/Wildan.png" alt="Wildan">
                <h3>Muhammad Wildan Bagir Hakim</h3>
                <p><b>Machine Learning</b></p>
                <p>Institut Pertanian Bogor</p>
                <p>Agricultural and Biosystems Engineering</p>
            </div>
            <div class="card">
                <img src="https://storage.googleapis.com/image-solafune-project-f242-02/img/Indah.png" alt="Indah Nur Fitriah Yuliana">
                <h3>Indah Nur Fitriah Yuliana</h3>
                <p><b>Cloud Computing</b></p>
                <p>Sebelas Maret University</p>
                <p>Physics Departement</p>
            </div>
        </div>
    </div>
</body>
</html>
